<%= render 'shared/navbarmenus' %>
<% unless @cook.first.nil? %>
  <div class="mt-5">
    <br>
    <br>
    <div class="row">
      <div class="col-6 offset-3">
        <%= render 'carousel' %>
      </div>
    </div>
  </div>
<% end %>
