<%= render 'shared/navbarmenus' %>
<% unless @cook.first.nil? %>
  <div class="jumbotron"><h3>Bienvenido: <%=@cook.first.name%> </h3></div>
<% end %>
<div class="container">
  <%= link_to 'New Menu', new_menu_path %> <br>
  <%= link_to 'Home', root_path%> 
</div>